@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./components/assets/background.png");
  background-attachment: fixed;
  font-size: 25px;
  cursor: default;
}

.title{
  font-family: 'Satisfy', cursive;
}

.entreprise {
  font-family: 'Diphylleia', serif;
}

.carousel .thumbs{
  display: flex;
  justify-content: center;
}

.separator:hover
{
  transform: rotate(360deg);
  transition: 1s;
}

.title_back{
  background-image: url('./components/assets/title-background.png');
}

.about_me{
  background-image: url('./components/assets/about_me_back.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
